%h2
  comments
  %small
    = "(#{comments.count})"
  = link_to "add new", new_post_comment_path, class: 'post__button--add pull-right'

%ol
  - comments.each do |comment|
    %li.post--short-size
      .post__body= link_to comment.truncated_body, comment_path(comment)
