.comment--full-size
  = link_to "edit", edit_post_comment_path(comment), class: 'comment__button--edit'

  .comment__body
    = comment.body
.clearfix
  = button_to "delete", comment, method: :delete

